body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCF7E9;
  font-family: Oswald;
  color: #343129
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer img {
  width: 100%;
  height: auto; 
}

.header img{
  width: 100%;
  height: auto; 
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 36px;
  text-align: center;
}

.more-info{
  padding-left: 0;
}

p {
  font-size: 20px;
  text-align: justify;
}

label {
  font-size: 20px;
  font-weight: lighter;
}

.col-form-label {
  font-size: 20px;
  font-weight: lighter;
}

.user-form{
  font-size: 20px;
  font-style: light;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 8px;
  padding-left: 0;
}

.form {
  padding-left: 0;
}

.with-margin{
  align-items: center;
}

.help-text {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 0;
}

.image-button {
  border: none; /* Убираем границу */
  background: none; /* Убираем заливку */
  padding: 0; /* Убираем внутренние отступы */
}

.first-img {
  width: 100%;
  height: auto;
}

.img-in-button {
  width: 90%;
  height: auto;
}

.event-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.event-date {
  width: 80px;
  text-align: center;
  font-weight: bold;
}

.event-details {
  flex-grow: 1;
}

.event-title {
  text-align: center;
}

.event-text {
  text-align: justify;
}

.event-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.event-date {
  margin-right: 20px;
  border-right: 2px solid black;
  padding-right: 20px; /* Добавляем немного отступа между датой и вертикальной чертой */
}

.event-content {
  display: flex;
  flex-direction: column;
}

.event-title,
.event-text {
  margin: 0;
}

.submit-button {
  background-color: #679936;
  border-color: #679936;
}

.submit-button:hover {
  background-color: #4B6F27; 
  border-color: #4B6F27;
}

.submit-button:focus,
.submit-button:active {
    background-color: #4B6F27;
    border-color: #4B6F27;
}

.before-help {
  margin-bottom: 0;
}

a {
  color: #679936;
  text-decoration: none;
} 

a:focus, 
a:hover {
  color: #4B6F27;
}

input::placeholder{
  font-weight: lighter;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 12px; /* Расстояние между инпутом и лейблом */
}

.form-check-input:checked{
  background-color: #679936;
  border-color: #679936;
}

.modal-content {
  width: 150px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень */
  border-radius: 30px; /* Бордер-радиус */
  background-color: #E5DFCD; /* Цвет фона */
}

.modal-text{
  text-align: center;
}